registry = 'http://nexus.yamoney.ru/content/groups/frontend-repository'

init.author.name = SvcReleaserFrontend
init.author.email = verstka-spb@yamoney.ru

email=verstka-spb@yamoney.ru
always-auth=true
_auth=U3ZjUmVsZWFzZXJGcm9udGVuZDpPNVA3UVJVNlZ2VDR3JzMsMk5TVw==
